<section class="content-box">
  <%= form_for @message, url: user_messages_path(@user) do |f| %>
  <div>
    <%= f.label :recipient_id, "To: " %><br />
    <%= f.collection_select :recipient_id, current_user.friends, :id,
                            :full_name, {selected: @user} %>
  </div>
  <div>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
    <%= f.submit "Send" %>

  <% end %>
</div>