<%= form_for @user, url: user_update_avatar_path, html: { multipart: true } do |f| %>

<div class="avatar">
  <%= image_tag @user.avatar.url(:medium) %>
</div>
  <div><%= f.file_field :avatar %></div>
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <%= f.submit %>
<% end %>