<h1>News Feed</h1>
<section class="wall-container">
  <% @posts.reverse.each do |post| %>
  <article>
    <div class="clearfix">
      <%= image_tag post.sender.avatar.url(:post), class: "post-pic" %>
      <div class="wall-post-name">
        <h4><%= post.sender.full_name%></h4>
        <h5><%= post.created_at %></h5>
      </div>
    </div>
    <p><%= image_tag post.photo.image_file.url(:small) if post.photo %></p>
    <p><%= post.text %></p>
    <hr>
    <% post.comments.reverse.each do |comment| %>
      <article>
        <div class="clearfix">
          <%= image_tag @user.avatar.url(:comment), class: "post-pic" %>
          <div class="wall-post-name">
            <h5><%= comment.user.full_name%><br />
                <%= comment.created_at %></h5>
          </div>
      </div>
        <p><%= comment.text %></p>
      </article>
    <% end %>
  </article>
  <%= render partial: "comments/new", locals: {post: post} %>
  <hr>
  <% end %>
</section>