  <div class="profile-avatar">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  <section class="name-header">
    <h1><%= "#{@user.first_name} #{@user.last_name}"%></h1>
    <p>Presiding over the small council ...</p>
    <% unless @user == current_user %>
      <div>
         <% if @sent_friend_request %>
           <%= button_to "Cancel Friend Request",
             user_friend_request_path(@user), {method: :delete} %>
         <% elsif @received_friend_request %>
         <%= button_to "Accept Friend Request",
           accept_user_friend_request_path(@user), {method: :put} %>
         <%= button_to "Reject Friend Request",
           reject_user_friend_request_path(@user), {method: :put} %>

         <% elsif current_user.friends.include?(@user) %>
           <%= button_to "Remove Friend",
             friend_path(@user), {method: :delete} %>
         <% else %>
           <%= button_to "Send Friend Request", user_friend_request_path(@user) %>
         <% end %>
      </div>
      <div>
        <%= button_to "Send Message", new_user_message_path(@user), {method: :get}%>
      </div>
    <% end %>
  </section>
  <table class="user-profile">
    <tbody>
      <tr>
        <th class="label">First Name</th>
        <td class="data"><%= @user.first_name %></td>
      </tr>
      <tr>
        <th class="label">Last Name</th>
        <td class="data"><%= @user.last_name %></td>
      </tr>
      <% if @profile %>
        <tr>
          <th class="label">Hometown</th>
          <td class="data"><%= @profile.location %></td>
        </tr>
        <tr>
          <th class="label">Gender</th>
          <td class="data"><%= @profile.gender.capitalize %></td>
        </tr>
        <tr>
          <th class="label">Birthday</th>
          <td class="data"><%= @profile.birthday %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="family">

  </table>
