<section class="profile-page">
  <header class="profile-header clearfix">

    <div class="profile-avatar">
      <%= image_tag @user.avatar.url(:profile) %>
    </div>

    <h2><%= "#{@user.first_name} #{@user.last_name}"%></h2>
    <em><%= @status %></em>

    <% unless @user == current_user %>
      <div class="friend">

         <% if @sent_friend_request %>
           <div class="friend-request-sent">
             <%= button_to "Cancel Friend Request",
                 user_friend_request_path(@user), {method: :delete} %>
           </div>

         <% elsif @received_friend_request %>
           <div class="friend-request-received">

             <div class="friend-request-accept">
                <%= button_to "Accept Friend Request",
                    accept_user_friend_request_path(@user), {method: :put} %>
             </div>

             <div class="friend-request-reject">
               <%= button_to "Reject Friend Request",
                   reject_user_friend_request_path(@user), {method: :put} %>
             </div>
           </div>

         <% elsif current_user.friends.include?(@user) %>
           <div class="friend-remove">
             <%= button_to "Remove Friend",
                 friend_path(@user), {method: :delete} %>
           </div>

         <% else %>
           <div class="friend-request-send">
             <%= button_to "Send Friend Request",
                 user_friend_request_path(@user) %>
           </div>

         <% end %>
      </div>

      <div class="message-button">
        <%= button_to "Send Message", new_user_message_path(@user),
            {method: :get}%>
      </div>

      <div class="message-button">
        <%= link_to "Post on Wall", new_user_post_path(@user) %>
      </div>

    <% end %>
  </header>

  <dl class="user-profile">

      <div class="first-name clearfix">
        <dt class="label">First Name</dt>
        <dd><%= @user.first_name %></dd>
      </div>
      <div class="last-name clearfix">
        <dt class="label">Last Name</dt>
        <dd><%= @user.last_name %></dd>
      </div>

      <% if @profile %>
        <div class="hometown clearfix">
          <dt class="label">Hometown</dt>
          <dd><%= @profile.location %></dd>
        </div>
        <div class="gender clearfix">
          <dt class="label">Gender</dt>
          <dd><%= @profile.gender.capitalize %></dd>
        </div>
        <div class="birthday clearfix">
          <dt class="label">Birthday</dt>
          <dd><%= @profile.birthday %></dd>
        </div>
      <% end %>

  </dl>

</section>

<script>

$(document).ready(function(){


});

</script