<!DOCTYPE html>
<html>
<head>
  <title>VisageCodex</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="header clearfix">
    <h1 class="left">VisageCodex</h1>

    <nav>
      <% if user_signed_in? %>

        <ul class="nav-bar">

          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Friends", friends_path %></li>

          <li>
            <%= link_to "Photos", user_albums_path(@user || current_user)%>
          </li>

          <li><%= link_to "Wall", user_wall_path(@user || current_user) %></li>
          <li><%= link_to "News Feed", user_news_path(current_user) %></li>
          <li><%= link_to "New Post", new_user_post_path(current_user)%></li>

          <li>
            <span class="nav-list">
              <%= "Notifications (#{notifications_count})" %>
            </span>

            <ul class="dropdown">
              <li>
                <%= link_to "#{message_count} Unread Messages",
                    user_messages_path(current_user) %>
              </li>
              <li>
                <%= link_to "#{friend_request_count} Pending Friend Requests",
                    requests_friends_path %>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav-bar right">
          <li><%= link_to "Account Settings", settings_account_path %></li>
          <li>
            <div class="sign-out">
              <%= button_to "Sign Out", destroy_user_session_path,
                  {method: :delete} %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="nav-bar right">
          <li>
            <div class="sign-out">
              <%= link_to "Sign Up", new_user_path %>
            </div>
          </li>
        </ul>
      </nav>
    <% end %>

    </header>
  <header>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer class="clearfix">
    <!-- <%= debug params %> -->
</body>
</html>
